/*--Fondo Blanco--*/ 
 #white-background{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #464646;
	opacity: 0.7;
	z-index: 9999;
}
/*--Modelo pop up--*/ 
.dlgbox{
	display: none;
	position: fixed;
	z-index: 9999;
	border-radius: 10px;
	background-color: #e6e6e6;
	box-shadow:0px 0px 5px 3px #000000;
	word-wrap: break-word;
}
.dlg-header{
	z-index:9990;
	text-indent:20px;
	color: #ffffff;
	font-size: 20px;
	padding: 10px;
	margin:0 0 2px 0;
	border-radius: 10px 10px 0 0; 
	background-color: #363636;
	box-shadow:0px 0px 1px 1px #000000;
}
.dlg-header button {
	background:#fe0000;
	float:right;
	min-height:20px;
	min-width:20px;
	max-height:20px;
	max-width:20px;
	border-radius:50%;
	font-size: 12px;
}		
.dlg-header a {
	float:right;
	margin: 0px 20px 0 0;
	min-height:20px;
	min-width:20px;
	max-height:20px;
	max-width:20px;
}		
.dlg-body{
	background-color: #e6e6e6;
	color: black;
	font-size: 14px;
	padding: 10px;
	margin: 0 10px 0 10px;
}
.dlg-footer{
	background-color: #e6e6e6;
	text-align: right;
	padding: 10px;
	margin: 0 10px 10px 10px;
}
.dlg-footer button{
	padding: auto auto;
	background-color: #e6e6e6;
	color: black;
	padding: 7px;
	border:1px solid #000000;
	max-height:40px;
	box-shadow:2px 2px 2px #000000;
	border-radius:5px;
}
.no_seleccion {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}
/*--Registro--*/ 
.dlgboxRegistro,.dlgboxIniciar{
	width: 280px;
}
.dlg-footerRegistro{
	background-color: #e6e6e6;
	text-align: right;
	padding: 10px;
	margin: 0 10px 10px 10px;
}
.dlg-footerRegistro button{
	margin: 10px auto;
	display:block;
	background-color: #6d84b4;
	color: white;
	padding: 10px;
	border: 0;
	max-height:40px;
	box-shadow:2px 2px 2px #000000;
	border-radius:5px;
}
.dlg-footerRegistro  .email{
	background-color: #dcbeb2;
	color:black;
}
.dlg-footerRegistro  .email img{
	float:left;
	height:25px;
}
.dlg-footerRegistro  .facebook {
	color:white;
	background-color:#3b5999;
	font-family:"Tahoma";
	font-size:18px;
	}
.dlg-footerRegistro  .facebook img{
	padding:0px ;
	height:25px;
	color:black;
	float:left;
}
.dlg-footerRegistro  button    {
	width:90%;
}
/*--RegistroMail--*/ 		/*--Modificar Configuracion--*/
.dlgboxRegistroMail, .dlgboxModificarUsuario{
	width: 350px;
}
.dlg-bodyRegistroMail label,.dlg-bodyIniciarMail label,.dlg-ModificarUsuario label{
	display:block;
	padding:5px 5px;
	margin:7px;		
}
.dlg-bodyRegistroMail input, .dlg-bodyIniciarMail input,.dlg-ModificarUsuario input{
	display:block;
	padding:5px 5px;	
	margin:5px;			
	border-radius:5px;
		width:calc(100% - 150px);
}
.etiqueta{
	float:left;
}	
/*--IniciarMail--*/
.dlgboxIniciarMail{
	width: 350px;
}
.dlg-footerIniciarMail  button    {
	width:75px; /*30%*/
}
.dlg-footerIniciarMail      {
	display:block;
}
/*--CerrarSesion--*/
.dlgboxCerrarSesion{
	width: 250px;
}
.dlg-bodyCerrarSesion{
	font-weight:bold;
}
.dlg-footerCerrarSesion button{
	position:relative;
	left:-05%;
	width:45%;
}
.dlg-footerCerrarSesion .CerrarSesionSi{
	background:#549e18;
}
.dlg-footerCerrarSesion .CerrarSesionNo{
	background:rgba(255,0,0,0.5);
}
/*--AdmTask--*/
.dlgboxeliminarUsuarios{
	width: 350px;
}
.dlg-bodyeliminarUsuarios{
	box-shadow: 0px 0px 4px #000000;
	background:white;
	margin: 10px 20px 4px 20px;
	max-height:150px;
	overflow: auto;
}
.dlg-bodyeliminarUsuarios input{
	display:inline-block;
	margin: 8px 20px 8px 5px;
}
/*--Eliminar Rampa--*/
.dlgboxEliminarRampa{
	width: 250px;
}
.dlg-bodyEliminarRamp{
	font-weight:bold;
}
.dlg-footerEliminarRampa button{
	position:relative;
	left:-05%;
	width:45%;
}
/*--Informacion Rampa--*/
.dlg-bodyNuevaRampa input,.dlg-bodyModificarRampa input,.dlg-bodyReportarRampa input, .dlg-bodyReportarRampa select{
	display:inline-block;
	margin: 8px 20px 8px 5px;
}
/*--Alerta Compartir--*/
.dlg-footerAlerta .facebook {
	color:white;
	background-color:#3b5999;
	font-family:"Tahoma";
	}
.imagens{
	position:absolute;
	left:200px;
	bottom: 8px;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius:2px;
}
/*--Reportes--*/
.dlg-bodyReportes{
	box-shadow: 0px 0px 4px #000000;
	background:white;
	margin: 10px 20px 4px 20px;
	max-height:150px;
	overflow: auto;
}
.dlg-bodyReportes table{
	width:100%;
	height:100%;
}
.centrado{
	text-align: center ;
}
input[type="checkbox"]:disabled + label {
	color:#666666;
}
#dlgboxBienvenidos,#dlgboxBienvenidosRegistro{
	padding: 30px 30px 30px 30px;
	left: 50%;
	top:50%;
}
#dlgboxBienvenidosRegistro p, #dlgboxBienvenidos p{
	font-weight:bold;
}
#loading{
	position:absolute;
	left:calc(350px + (100% - 350px)/2 );
	top:calc(50px + (100% - 50px)/2 );
	z-index: 9999;
}
@media screen and (max-width:500px){
	.dlgbox{
		width:100%;
	}
	#dlgboxBienvenidosRegistro, #dlgboxBienvenidos{
		left: 0;
		top:50%;
	}
	#loading{
	left:calc(150px + (100% - 150px)/2 );
	}
}
@media screen and (max-height:400px){
	.dlgbox{
		width:100%;
	}
	#dlgboxBienvenidosRegistro, #dlgboxBienvenidos{
		left: 0;
		top:50%;
	}
	#loading{
	left:calc(150px + (100% - 150px)/2 );
	}
}

#reportes {
border: 1px solid #000;
border-collapse: collapse;	
}
#reportes td{
border: 1px solid #000;<!--width: 46%;-->
}
/*--InfoWindows--*/
#iw-container  .iw-title {
	font-family:"Calibri","Verdana";
	font-size: 20px;;
	padding: 10px;
	background-color: #363636;
	color: #ffffff;
	margin:0 0 2px 0;
	border-radius: 10px 10px 0 0; 
}
.gm-style-iw {
	width: 350px !important;
	top: 15px !important;
	left: 0 !important;
	background-color: #e6e6e6;
	border-radius: 10px;
	box-shadow:0px 0px 5px 3px #000000;
	border: 1px solid rgba(0,0,0, 0.6);
}
#iw-container input[type="button"]{
	border-radius:5px;
	box-shadow:2px 2px 2px #000000;
	background:#e6e6e6;
	border:1px solid;
	margin:2px 2px;
	height:20px;
}